<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
    <script th:src="@{/js/jqurey.js}"></script>
</head>
<body>
<div class="container mt-5" style="margin-left: auto; margin-right: auto; width: 1200px">
    <table class="table table-dark table-striped" >
        <tr>
            <th>id:</th>
            <td th:text="${board.id}"> </td>
        </tr>
        <tr>
            <th>작성자:</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>제목:</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>조회수:</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>내용:</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
<!--        <tr>-->
<!--            <th>비번:</th>-->
            <td th:text="${board.boardPass}" hidden></td>
<!--        </tr>-->

        <!--    <tr th:if="${board.fileAttached == 1}">-->
        <tr th:if="${board.fileAttached == 1}">
            <th>image</th>
            <td th:each="fileName:${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200">
            </td>
        </tr>

        <tr>
            <th>작성시간:</th>
            <td th:text="*{#temporals.format(board.boardSaveTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <div th:if="${board.boardWriter == session.LoginEmail}">
            <tr>
                <th>수정</th>
                <td><a th:href="@{|/boardUpdate/${board.id}|}" class="btn btn-warning">수정</a></td>
            </tr>
            <tr>
                <th>삭제</th>
                <td><a th:href="@{|/boardDelete/${board.id}|}" class="btn btn-danger">삭제</a></td>
            </tr>
        </div>
    </table>
    <!--댓글 -->
    <div class="container mt-5" >
        <div id="comment-writer" class="input-group mb-3">

            <div class="form-floating">
                <input type="text" id="commentWriter" class="form-control" placeholder="작성자" th:value="${session.LoginEmail}" readonly>
                <label for="commentWriter"> 작성자</label>
            </div>
            <div class="form-floating">
                <input type="text" id="commentContents" class="form-control" placeholder="댓글 내용">
                <label for="commentContents">내용</label>
            </div>
            <button id="comment-write-btn" onclick="commentWrite()" class="btn btn-primary">댓글작성</button>

        </div>
    </div>
</div>
</body>
<script>
    const commentWrite = () => {
        const commentWriter=document.getElementById("commentWriter").value;
        const commentContents=document.getElementById("commentContents").value;
        const boardId = [[${board.id}]]
        $.ajax({
            type:"post",
            url:"/commentSave",
            data:{
                commentWriter:commentWriter,
                commentContents:commentContents,
                boardId:boardId
            },
            dateType: "json",
            success: function (ck) {

            },
            error: function (ck) {

            }
        })
    }
</script>
</html>