<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.min.css}">
  <script th:src="@{/js/jqurey.js}"></script>
</head>
<body>
<div class="container">
  <form action="/boardSave" method="post" class="form-control mt-5" style="width:800px" enctype="multipart/form-data">
    <input type="text" class="form-control mt-5" placeholder="작성자" th:value="${session.LoginEmail}" readonly name="boardWriter">
    <input type="text" class="form-control mt-5" placeholder="제목" name="boardTitle">
      <textarea name="boardContents" class="form-control mt-5" id="" cols="30" rows="10" placeholder="내용"></textarea>
      <input type="file" class="form-control mt-5" name="boardFile" placeholder="저장">
    <input type="text" class="form-control" name="boardPass" placeholder="비밀번호">
    <input type="submit" class="btn btn-success mt-5" value="작성완료">
  </form>
</div>

</body>
</html>